{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Your Library Name Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% if admin_logo_url %}
        <img src="{{ admin_logo_url }}" height="40px" alt="Your Library Logo" />
        {% else %}
        <i class="fas fa-book-open"></i>
        {% endif %}
        Your Library Name Admin Panel
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}